*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
body::before{
    content:'';
    position: absolute;
    inset: 0;
    background: url(img15.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


.container
{
    position:relative;
    width: 1000px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
    overflow: hidden;
}
.container span
{
    position:absolute;
    inset:5px;
    overflow:hidden;
    border-radius: 15px;
}
.container span::before
{
    content:'';
    position: absolute;
    inset:5px;
    background: url(img15.jpg);background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
}
.container span::after{
    content:'';
    position: absolute;
    inset:5px;
    background: url();background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
}
.container::before{
    content:'';
    position:absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from  var(--a),#ffdc3f 0%,
    #ffdc3f 10%,transparent 10%,transparent 80%,#ffdc3f
     100%);
    border-radius: 20px;
    animation:animate 2.5s linear infinite;

}
.container::before{
    content:'';
    position:absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from  var(--a),#ffdc3f 0%,
    #ffdc3f 10%,transparent 10%,transparent 80%,#ffdc3f
     100%);
    border-radius: 20px;
    animation:animate 2.5s linear infinite;

}
@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@property --b {
    syntax: '<angle>';
    inherits: false;
    initial-value: 360deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}

@keyframes animate-reverse {
    0% {
        --b: 360deg;
    }
    100% {
        --b: 0deg;
    }
}
form{
    position: absolute;
    left:0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    gap:150px;
    transition:0.5s;
}
form h2{
    position: absolute;
    top:-130px;
    left:50px;
    
    color: #fff;
    font-size: 1.5em;
    letter-spacing:0.1em;
    text-transform:uppercase;
    font-weight:500;
    margin-bottom:10px;

}
form h3{
    position: absolute;
    top:-70px;
    left:50px;
    
    color: #fff;
    font-size: 1.5em;
    letter-spacing:0.1em;
    text-transform:uppercase;
    font-weight:500;
    margin-bottom:10px;

}
form .inputbox{
    position: absolute;
    width:200px;
    left:80px;
    top:-70px;
    display:flex;
    justify-content:space-between;

}

form .inputbox a{
    color:#fff;
    text-decoration: none;

    font-size:0.85em;

}
form .inputbox a:nth-child(2)
{
    text-decoration: underline;

}
form .inputbox input{
    width:100%;
    outline: none;
    border:1px solid rgba(13, 13, 13, 0.25);
    background: rgba(127, 25, 25, 0.15);
    padding:6px 15px;
    border-radius: 4px;
    font-size:0.85em;
    color:#fff;

}

form .inputbox input::placeholder{
    color:rgb(20, 20, 20);
}

form .inputbox input[type="submit"]{
    background:#2198f3;
    font-weight:500;
    cursor:pointer;
}





form .inputbox1{
    position: absolute;
    width:450px;
    left:530px;
    top:50px;
    display:flex;
    justify-content:space-between;

}

form .inputbox1 a{
    color:#fff;
    text-decoration: none;

    font-size:0.85em;

}
form .inputbox1 a:nth-child(2)
{
    text-decoration: underline;

}
form .inputbox1 input{
    width:100%;
    outline: none;
    border:1px solid rgba(13, 13, 13, 0.25);
    background: rgba(143, 17, 17, 0.15);
    padding:6px 15px;
    border-radius: 4px;
    font-size:0.85em;
    color:#fff;

}

form .inputbox1 input::placeholder{
    color:rgb(20, 20, 20);
}

form .inputbox1 input[type="submit"]{
    background:#2198f3;
    font-weight:500;
    cursor:pointer;
}

.form-group{
    position: absolute;
    

}
.commentss{
    position: absolute;
    top:30px;
    left:80px;
    
}
#comments{
    position: absolute;
    top:60px;
    left:80px;
    width:300px;
    height:80px;
    background: rgba(143, 17, 17, 0.15);
}
.submit{
    position: absolute;
    top:250px;
    width:100px;
    height:30px;
    left:530px;
    background: rgb(90, 90, 128);    
}
.submit:hover{
    background:linear-gradient(to bottom, rgb(90, 111, 128), #b4b8c5)
}

.firstname{
    position:absolute;
    
    top:80px;
    left:450px;
    width:100px;
}
.lastname{
    position:absolute;
    
    top:80px;
    left:700px;
    width:100px;
}
.message1{
    position: absolute;
    left:530px;
    top:100px;
}
#message{
    position: absolute;
    left:530px;
    top:130px;
    width:400px;
}
.submit1{
    position: absolute;
    top:250px;
    width:100px;
    height:30px;
    left:850px;
    background: rgb(90, 90, 128);  
    text-decoration: none;  
    color:black
    
}
.submit1:hover{
    background:linear-gradient(to bottom, rgb(90, 111, 128), #b4b8c5)
}




/*  */ 
/* */ 
